@tailwind base;
@tailwind components;
@tailwind utilities;





/* shop start */

#shopBanner {
  background-image: url('../public/shop/shopBanner.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

#shopBanner::after{
  content: '';
  position: absolute;
  background-color: black;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.6;
}

/* shop end */

/* blog start */

#blogBanner {
  background-image: url('../public/blog/blogBanner.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

#blogBanner::after{
  content: '';
  position: absolute;
  background-color: black;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.6;
}

/* blog end */

/* about start */

#aboutBanner {
  background-image: url('../public/about/aboutBanner.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

#aboutBanner::after{
  content: '';
  position: absolute;
  background-color: black;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.6;
}

/* about end */

/* contact start */

#contactBanner {
  background-image: url('../public/contact/contactBanner.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

#contactBanner::after{
  content: '';
  position: absolute;
  background-color: black;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.6;
}

/* contact end */